<% provide(:title, 'About') %>
    <h1>これは何</h1>
    <p>
      ギタドラ Tri-boost スキルシミュレータです．
    </p>

    <h2>勝手な謝辞</h2>
    <p>
      本家スキルシミュレータ http://xv-s.heteml.jp/skill/ を参考にしました．
    </p>
    <p>
      曲リストはBemaniWiki http://bemaniwiki.com/index.php?GITADORA%20Tri-Boost を参照しました．
    </p>
    <p>
      Rails チュートリアル http://railstutorial.jp/ を元に作成しています．
      </p>
    <h2>連絡先</h2>
      <p>
      Twitter (@mimi_nary) とかにどうぞ
    </p>
