 <table class="table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Hot</th>
        <th>Other</th>
        <th>All</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= number_with_precision @sp.d, precision: 2 %></td>
      <td><%= number_with_precision @sp.dhot, precision: 2 %></td>
      <td><%= number_with_precision @sp.dother, precision: 2 %></td>
      <td><%= number_with_precision @sp.dall, precision: 2 %></td>
    </tr>
  </table>


