<% provide(:title, "SKILL AVERAGE SP #{params[:from]} 〜 #{params[:to]} (DrumMania)") %>

<h1>
  <%= "SKILL AVERAGE SP #{params[:from]} 〜 #{params[:to]}" %> (DrumMania)
</h1>

<h2>Other</h2>

<%= render partial: 'averagetable' %>