<% provide(:title, "SKILL AVERAGE SP #{params[:from]} 〜 #{params[:to]} (GuitarFreaks)") %>

<h1>
  <%= "SKILL AVERAGE SP #{params[:from]} 〜 #{params[:to]}" %> (GuitarFreaks)
</h1>

<h2>Hot</h2>

<%= render partial: 'averagetable' %>