<% provide(:title, @user.name + ' さんのスキル (GuitarFreaks)' ) %>
  <h1>
    <%= @user.name %> さんのスキル (GuitarFreaks) 
  </h1>
  
  <div class="well">
    <%= @user.g_comment %>
  </div>
  
  <%= render 'sptableguitar' %>
  <%= render 'skilltable' %>
