<% provide(:title, 'ユーザ一覧') %>
<h1>ユーザ一覧</h1>

<table id="sTable" class="table table-bordered table-hover table-condensed display compact">
  <thead>
  <tr class="gray">
    <th></th>
    <th width="200">名前</th>
    <th>DM</th>
    <th>GF</th>
    <th>最終更新(DM)</th>
    <th>最終更新(GF)</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
