<% provide(:title, 'ユーザ一覧') %>
<h1>ユーザ一覧</h1>

<table id="sTable" class="table table-striped table-bordered table-hover table-condensed display compact">
   <thead>
      <tr>
        <th>ユーザID</th>
        <th>ユーザ名</th>
        <th>DM スキル</th>
        <th>GF スキル</th>
      </tr>
    </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user %> </td>
    <td><%= fetch_sp_d(user.id) %></td>
    <td><%= fetch_sp_g(user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
