<h1>スキルを読み込む</h1>

<%= form_tag(import_user_path, :method => :post, multipart: true) do %>
  <div class="form-group">
  <%= file_field_tag :csv_file %>
</div>
<%= submit_tag "CSVインポート", :class => "btn btn-primary" %>
<% end %>

<h1>スキルを書き出す</h1>
<%= link_to "CSVエクスポート", user_path(format: "csv"), :class => "btn btn-success" %>
