<% provide(:title, 'スキル編集 (GuitarFreaks)') %>
<h1>スキル編集 (GuitarFreaks)</h1>

<%= render 'guitarform' %>

<%= link_to "このスキル情報を削除する", @skill, method: :delete,
                                  data: { confirm: "本当に？" } %>

