<% provide(:title, 'スキル編集 (DrumMania)') %>
<h1>スキル編集 (DrumMania)</h1>

<%= render 'drumform' %>

<%= link_to "このスキル情報を削除する", @skill, method: :delete,
                                  data: { confirm: "本当に？" } %>

