@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

table {
    border-top: 1px #000000 solid;
    border-left: 1px #000000 solid;
    border-bottom: none !important;
    border-right: none !important;
}

table tbody tr td,
table tbody tr th {
    border: 1px #000000 solid;
}

table thead th {
    background-color: #333;
    color: #fff;
    border-top: none !important;
    border-left: none !important;
    border-right: 1px #000000 solid !important;
    border-bottom: 1px #000000 solid !important;
}


table.dataTable {
    border-top: 1px #000000 solid;
    border-left: 1px #000000 solid;
    border-bottom: none !important;
    border-right: none !important;
}

table.dataTable tbody tr td,
table.dataTable tbody tr th {
    border: 1px #000000 solid;
}


table.dataTable tbody tr:hover td,
table.dataTable tbody tr:hover th {
    background-color: inherit;
}

table.dataTable.display thead th {
    background-color: #333;
    color: #fff;
    border-top: none !important;
    border-left: none !important;
    border-right: 1px #000000 solid !important;
    border-bottom: 1px #000000 solid !important;
}

table.dataTable.display tbody tr td,
table.dataTable.display tbody tr th {
    border-top: none !important;
    border-left: none !important;
    border-right: 1px #000000 solid !important;
    border-bottom: 1px #000000 solid !important;
}


tr.gray{
  color:#ffffff;
  background-color:#333333 !important; 
  a {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}


tr.black{
  color:#ffffff;
  background-color:#000000 !important; 
  a {
    color: inherit;
    text-decoration: underline;
  }
  a:hover {
    color: inherit;
    text-decoration: none;
  }
}

tr.bsc{
  color:#002266 !important;
  background-color:#99ddff !important;
  a {
    color:#002266 !important;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
tr.adv{
  color:#444400 !important;
  background-color:#ffffcc !important;
  a {
    color:#444400 !important;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
tr.ext{
 color:#660000 !important;
 background-color:#ffcccc !important;
  a {
    color:#660000 !important;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
tr.mas{
 color:#330066 !important;
 background-color:#9999ff !important;
  a {
    color:#330066 !important;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  //padding-top: 60px;
  padding-bottom: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

footer{
    height:20px;
    position:absolute;
    bottom:0;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
}

p {
  # font-size: 1.1em;
  # line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 8px;
  // @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .has-error;
}
