<p><%= @resource.name %> さん</p>

<p>本メールは GITADORA Skill Simulator からの自動送信です．</p>

<p>パスワードをリセットするには，以下のリンクをクリックしてください．</p>

<p><%= link_to "パスワードをリセット", edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>以上よろしくお願いいたします．
  <br>GITADORA Skill Simulator</p>

<p><%= t(".please_ignore") %></p>
<p><%= t(".wont_change") %></p>
